<div class="about-container">
  <div class="content">
    <div class="about-content">
      <div class="about-section">
        <h2>{{ texts.aboutTitle }}</h2>
        <div class="text-content">
          <p *ngFor="let paragraph of texts.aboutDescription">
            {{ paragraph }}
          </p>
        </div>
      </div>

      <div class="technologies-section">
        <h2>{{ texts.technologiesTitle }}</h2>
        <div class="tech-tags">
          <span class="tech-tag" *ngFor="let skill of skills">{{ skill.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
